body{
    display: flex;
    align-items: center;
}

.card-container{
    margin: 5px 10px;
    padding: 10px 20px;
    gap: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: solid 2px #dcdcdc;
}